<%= week_calendar do |date| %>

    <% i = 1 %>
    <% 24.times do %>
      <% beginning = DateTime.new(date.year, date.month, date.day, i) %>
      <% ending = beginning + 1.hour %>

      <% shift_scheduled = @shifts.find {|shift| shift.start_time >= beginning && shift.start_time < ending } %>
      <% if shift_scheduled %>
        <% if shift_scheduled.user.id === current_user.id %>
          <div class="calendar_times me">
            <%= shift_scheduled.user.first_name %>
          </div>
        <% else %>
          <div class="calendar_times other-person">
            <%= shift_scheduled.user.first_name %>
          </div>
        <% end %>
      <% else %>
        <div class="calendar_times btn btn-default">
          <span class="glyphicon glyphicon-plus"></span>
          <%= beginning.strftime("%I")%>
          <%= beginning.strftime("%p")%>
        </div>
      <% end %>
      <% i += 1 %>
    <% end %>

<% end %>